@use "../abstracts/variables" as var;

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// Scroll JS

.reveal {
  position: relative;
  transform: translateY(15rem);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0rem);
  opacity: 1;
}

::selection {
  background-color: var.$color-primary;
  color: var.$color-white;
}
